<style>
  .source_code td { vertical-align: top; }
  .source_code .blame { margin-top: 13px; margin-right: 10px; color: #999; text-align: left; }
</style>
<table class="source_code">
  <tr>
    <td>
      <pre class="blame"><%= "\n\n\n" %><%= format_blame(object) %></pre>
    </td>
    <td>
      <pre class="lines"><%= "\n\n\n" %><%= h format_lines(object) %></pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File '<%= h object.file %>'<% if object.line %>, line <%= object.line %><% end %></span><%= "\n\n" %><%= html_syntax_highlight object.source, object.source_type %></pre>
    </td>
  </tr>
</table>